*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#222;
}

header h1{
    color:#fff;
}

nav a{
    color:#fff;
    text-decoration:none;
    margin-left:20px;
}

nav a:hover{
    color:#ff7b00;
}

.banner{
    background:#ff7b00;
    color:white;
    text-align:center;
    padding:80px 20px;
}

section{
    padding:50px 8%;
}

h2{
    margin-bottom:20px;
}

.galeria{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.arte{
    height:220px;
    background:#ddd;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    color:#555;
    transition:.3s;
}

.arte:hover{
    transform:scale(1.05);
    background:#ccc;
}

ul{
    padding-left:20px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}